/*!* Buộc giao diện luôn hiển thị kiểu desktop *!*/
/*body {*/
/*    min-width: 1024px;*/
/*    overflow-x: auto;*/
/*}*/

/*!* Vô hiệu hóa các cột tự động thay đổi kích thước *!*/
/*.col-12, .col-md-6, .col-lg-4 {*/
/*    width: 33.3333% !important;*/
/*    flex: 0 0 33.3333% !important;*/
/*    max-width: 33.3333% !important;*/
/*}*/

/*@media (max-width: 1023px) {*/
/*    html {*/
/*        font-size: 14px; !* Cho nhỏ bớt font để dễ xem *!*/
/*    }*/
/*}*/

.banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.card-title {
    font-weight: 600;
}

footer a {
    color: #ccc;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

.nav-link {
    transition: color 0.2s ease;
}

.nav-link:hover {
    color: #ff4d4f !important;
}

.size-btn {
    min-width: 50px;
    text-align: center;
}

.size-btn:hover {
    background-color: black;
    color: white;
}

.rating i {
    color: gold;
}

h1.banner-title {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.custom-size-modal {
    max-width: 432px;
}

.custom-delete-modal {
    max-width: 400px;
    width: 100%;
}
